h1
{
    color: green;
}
p{
    color:darkgoldenrod
}
.vertical-menu a
{
    width: 200px;
}

.vertical-menu a
{
    display: block;
    padding: 12px;

}

.vertical-menu a.active
{
    background-color: aquamarine;
}

.cor
{
    color:brown
}

#cabecalho
{
    background-color: aquamarine;
}

